@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  background-color: #f0e7db;
}
/* color */
.text-brown {
  color: #6a4229;
}
.brown {
  background-color: #6a4229;
}
.border-brown {
  border-color: #6a4229;
}
.text-khaki {
  color: #f0e7db;
}
.khaki {
  background-color: #f0e7db;
}
.border-khaki {
  border-color: #fdf7ee;
}
.khaki-2 {
  background-color: #fdf7ee;
}

/* active nav */
.active-nav,
.btn:hover {
  background-color: #6a4229;
  color: #f0e7db;
}

/* model 3D */
model-viewer {
  /* background-color: black; */
  height: 400px;
  --poster-color: transparent;
  --progress-bar-color: transparent;
}
